.container-fluid{
    background-color: var(--secondary);
    border-radius: 10px;
    color: var(--accent-light);
    padding: 10px;
    width: 100%;
}

.container-fluid .currency-from {
    color: black;
}

.container-fluid .currency-into {
    color: black;
}

.form-control-lg{
    margin: 10px 0;
    background-color: #1A2324;
    color: white;
    display: inline-block;
    width: 90%;
    height: 32px;
    font-size: 16px;
    text-align: center;
    border-radius: 10px;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-color: white;
}

.currency-from{
    margin: 10px 10px;
}

.currency-into{
    margin: 10px 10px;
}


.result{
    color: var(--accent-light);
}

.btn {
    margin: 10px 10px;
    padding: 15px 15px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    width: 50%;
    background-color: #31403d;
    color: white;
    border-radius: 5px;
}

.btn:hover {
    background-color: #1A2324;
    color: #f2d16c;
}

