.container-fluid{
    background-color: var(--secondary);
    border-radius: 10px;
    color: var(--black);
    padding: 10px;
    width: 500px;
}
.currency-amount{
    width: 95%;
    background-color: var(--accent-gray);
    color: var(--black);
}
.container-fluid .currency-from {
    color: black;
}

.container-fluid .currency-into {
    color: black;
}

.form-control-lg{
    margin: 10px;
    height: 32px;
    font-size: 16px;
    text-align: center;
    border-radius: 10px;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-color: white;
}

.currency-from{
    margin: 10px 10px;
    width: 95%;
}

.currency-into{
    margin: 10px 10px;
}


.result{
    color: var(--black);
}

.btn {
    margin: 10px;
    padding: 10px 26px;
    background-color: var(--primary);
    border: 2px solid transparent;
    color: var(--white);
    border-radius: var(--border-radius-m);
    font-weight: var(--font-weight-medium);
    transition: 0.3s ease;
}

.btn:hover {
    border-color: var(--black);
    background-color: transparent;
    color: var(--black);
}

@media screen and (max-width: 900px) {
    .container-fluid{
        width: 270px;
    }
}