.login-page {
    padding-top: 100px;
    height: 100vh;
    background-color: var(--accent-gray);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
}

.login-title {
    grid-column: 2;
    padding: 16px 0;
    text-align: center;
}

.login-form {
    grid-column: 2;
    background-color: var(--secondary);
    padding: 2rem;
    border-radius: 10px;
    color: var(--black);
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
}

.login-form .login-input {
    width: 100%;
    padding: 10px 0;
    outline: none;
    background-color: var(--white);
    border-radius: var(--border-radius-s);
    border: 1px solid var(--accent-gray);
}

.login-form .login-btn {
    margin: 16px;
    padding: 5px;
    color: var(--white);
    background-color: var(--primary);
    font-size: var(--font-size-m);
    border-radius: var(--border-radius-m);
    font-weight: var(--font-weight-medium);
    border: 1px solid var(--primary);
    transition: 0.3s ease;
}
.login-form .login-btn:hover {
    color: var(--primary);
    background-color: transparent;
}