
.registration-page {
    padding-top: 100px;
    height: 100vh;
    background-color: var(--accent-gray);
    display: grid;
    #gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
}

.registration-page h1 {
    padding: 16px 0 0 0;
    grid-column: 2;
    text-align: center;
}


.reg-form {
    grid-column: 2;
    background-color: var(--secondary);
    padding: 2rem;
    border-radius: 10px;
    color: var(--black);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.input-box {
    grid-column: span 3;
}

/*.input-box label {
    font-size: var(--font-size-m);
    width: 20%;
}*/
.input-box .reg-input {
    width: 100%;
    padding: 10px;
    outline: none;
    background-color: var(--white);
    border-radius: var(--border-radius-s);
    border: 1px solid var(--accent-gray);
}

.reg-btn {
    grid-column: 2;
    width: 100%;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    background-color: #31403d;
    color: white;
    border-radius: 5px;
}

.reg-btn:hover {
    background-color: #1A2324;
    color: #f2d16c;
}

